<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LeasePakConnectionString" connectionString="server=localhost,3433;database=db;user id=user;pwd=pwd;"/>
    <add name="LeasePakSybaseConnectionString" connectionString="Data Source=localhost;Port=5000;Database=db;UID=user;Pwd=pwd;Connect Timeout=60"/>
    <add name="MiDataExchangeConnectionString" connectionString="server=localhost,3433;database=db;user id=user;pwd=pwd;"/>
  </connectionStrings>
  <appSettings>
    <!-- LeasePakReporting Service -->
    <add key="LeasePakReportingFolderFilepath" value="localhost\Data\Company-Wide\LPReports"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>